<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Honeypot is a plugin written for Paper which assists with griefing auto-moderation
  ~
  ~ Copyright TerrorByte & Honeypot Contributors (c) 2022 - 2024
  ~
  ~ This program is free software: You can redistribute it and/or modify it under the terms of the Mozilla Public License 2.0
  ~ as published by the Mozilla under the Mozilla Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful, but provided on an "as is" basis,
  ~ without warranty of any kind, either expressed, implied, or statutory, including, without limitation,
  ~ warranties that the Covered Software is free of defects, merchantable, fit for a particular purpose or non-infringing.
  ~ See the MPL 2.0 license for more details.
  ~
  ~ For a full copy of the license in its entirety, please visit <https://www.mozilla.org/en-US/MPL/2.0/>
  -->

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>github</id>
                    <name>GitHub TerrorByteTW Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/TerrorByteTW/Honeypot</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>github</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Authorization</name>
                        <value>Bearer ${{env.GITHUB_TOKEN}}</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>
</settings>